Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/Homestead/Environment
Content/Homestead/Props
Content/MSPresets
Content/IconCreator
Content/Megascans
Content/M5VFXVOL2
OwnIcon_V2.png
Content/UI_Kit
Content/Maps
Content/Maps/TemplateMap/TemplateMap.umap
Content/Maps/Temprate_01/Temperate_01.umap
*.umap
